@media (max-width:480px){
  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  #nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    background-color: gray;
  }
  #nav-left{
    display: flex;
    justify-content:space-between;
  }
  #nav-center{
    display: flex;
    justify-content: space-between;
  }
  #logo{
    font-size: 1rem;
  }

}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
#nav-bar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: gray;
}
#nav-left{
  display: flex;
  justify-content:space-evenly;
}
#logo{
  font-size: 1rem;
}
