*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
#nav-bar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: gray;
}
#nav-left{
  display: flex;
  justify-content:space-evenly;
}
#logo{
  font-size: 1rem;
}
@media (max-width:480px){
  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  #nav-bar{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
  }
  #nav-left{
    display: flex;
    justify-content:space-between;
  }
  #nav-center{
    display: flex;
    justify-content: space-between;
  }
  #logo{
    font-size: 1rem;
  }
  #search{
    width: 100px;
    height: 15px;
  }
  #search-icon{
    font-size: 0.9rem;
    border: solid 1px black;
    color:black;
  }
  .nav-item{
    font-size: 0.7rem;
  }
}
